@import 'tailwindcss';

@theme {
  --font-sans: 'Plus Jakarta Sans', system-ui, 'Segoe UI', Roboto, sans-serif;
  --breakpoint-500: 500px;
  --breakpoint-700: 700px;


  --color-dark: #101010;
  --color-darkGreen: #18744E;
  --color-darkGreenHover: #155a3d;
  --color-lightGreen: #e4e8eC;
  --color-white: #fff;

}


